.Products {
  height: 23rem;
  width: 1300px;
  border: 1px solid red;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.discount_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
}
.heading {
  font-size: 20px;
  color: rgb(18, 18, 48);
}
.view_more {
  width: 15%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.Product_card {
  border: 2px solid rgb(0, 0, 0);
  height: 18rem;
  position: relative;
}
.card_div_p {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    max-width: 1300px;
    overflow-x: auto; 
    transition: 1s all ease;
    width: 100%;
  }

.right_key {
  position: absolute;
  right: 0%;
  width: 30px;
  height: 30px;
  top: 40%;
}
.left_key {
  position: absolute;
  left: 0%;
  top: 40%;
  width: 30px;
  height: 30px;
}
.p_card {
  height: 280px;
  width: 400px;
  padding: 0px 20px;
  background-color: #000083;
  border-radius: 10px;
  position: relative;
  margin-right: 10px;
  border: 1px solid black;
}
