.main_cart {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.cart_body {
  width: 90%;
  height: 85%;
  margin-bottom: 2rem;
  overflow: hidden;
  scroll-behavior: smooth;
}
.cart_heading {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 500;
  margin: 10px;
}
.cart_info {
  margin: 10px 20px;
  font-size: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}
.inner_cart {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  gap: 1rem;
}
.cart_div {
  width: 80%;
  height: 89%;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}
.cart_card {
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: flex;
  color: black;
  transition: 0.3s all ease;
  border-radius: 20px;
  border: 0.5px solid rgb(226, 226, 226);
}
.cart_card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cart_image {
  width: 200px;
  height: 100%;
  margin-left: 20px;
  transition: 0.3s all ease;
}
.cart_image:hover {
  transform: scale(1.1);
}

.cart_infodiv {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 20px;
}
.product_name h3 {
  font-size: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px;
}
.cart_productdes {
  overflow: auto;
}
.cart_productdes p {
  font-size: 17px;
  margin: 5px 0px;
}
.cart_pricing {
  height: 100%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.cart_add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
}

.add_btn {
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: #3b66ff;
}

.total_div {
  width: 20%;
  height: 84%;
  display: flex;
  align-items: end;
}
.payment_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 20px;
}
.grand_total {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.total {
  font-weight: 500;
  font-size: 16px;
}
.total_price {
  font-weight: 600;
  font-size: 16px;
}
.payment_div a {
  padding: 10px 60px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(98, 98, 255);
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}
